<div class="wizard">
    <div class="stepper">
        <div *ngFor="let step of steps; let i = index" class="step" [class.active]="i === currentStepIndex">
          <span class="step-icon">{{ i + 1 }}</span>
          <span class="step-title">Step {{ i + 1 }}</span>
        </div>
      </div>
    <div class="wizard-content">
        <ng-content></ng-content>
    </div>
    <div class="wizard-controls">
        <button (click)="moveBack()" [disabled]="currentStepIndex===0">Prev</button>
        <button (click)="moveFront()" [disabled]="currentStepIndex === steps.length - 1">Next</button>
    </div>
</div>
